@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022

---additional css for the about page---

most recent update: march 3, 2023
*/

/*//--------------mobile layout (tablet)--------------//*/
@media only screen and /*(min-width: 401px) and */ (max-width: 872px) {
    
    /*****text container*****/
    #wrapper {
        padding-bottom: 20%;
    }
}


/*//--------------desktop layout--------------//*/
@media only screen and (min-width: 873px) {

    /*****text container*****/
    #wrapper {
        margin-right: 10vw;
    }
}