@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022
*/

/*COLOUR VARIABLES*/
:root {
    --fadedbabyblueeyes: 171,210,250,60;/*#abd2fa60*/
    --fadedcornflowerblue: 118,146,255,60;/*#7692ff60*/
    --babyblueeyes: 171,210,250;/*#abd2fa*/
    --cornflowerblue: 118,146,255;/*#7692ff*/
    --independence: 87,77,104;/*#574d68*/
    --candypink: 224,119,125;/*#e0777d*/
    --pastelpink: 223,174,180;/*#dfaeb4*/
    --lightpink: 238,198,203;/*#eec6cb*/
}


/*base layout*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr, 9fr;
    word-break: normal;
    background: rgb(var(--lightpink));
    background: linear-gradient(to bottom, rgba(var(--lightpink),0) 10%, rgba(var(--lightpink),1) 100%), url("../images/background_day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    grid-row: inherit;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    overflow-y: auto;
    align-items: center;
}


/*TOP NAV MENU*/
ul {
    list-style-type: none;
}

#topnav {
    grid-row: 1;
    float: right;
    overflow: hidden;
    padding: 20px;
}

#topnav li {
    display: inline;
}

#topnav a {
    color: var(--independence);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

#topnav a:hover {
    color: var(--babyblueeyes);
}

.darklight {
    position: relative;
    display: inline-block;
    padding: 25px;
}

.darklight .darklight_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 25px;
}

.darklight:hover .darklight_hover {
    display: inline;
}



p {
    font-weight: 300;
    line-height: 1rem;
}

.inner-container-content p {
    line-height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 1.2vw;
    text-transform: uppercase;
    line-height: 90%;
    text-shadow: 0px 2px 10px rgba(var(--candypink),0.7);
}

.column bug_txt {
    font-weight: 400;
    font-size: 2.6vw;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 0.6;
    font-weight: 10;
    text-transform: lowercase;
    margin: 1%;
    width: 50%;
}

.outer-container {
    border: 1px solid rgb(var(--independence));
    border-radius: 0.5rem;
    padding: 0rem 0.3rem 0.3rem 0.3rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    margin: auto;
    margin-bottom: 2%;
    padding-top:2%;
}

header .outer-container {
    overflow: hidden;
    width: 100%;
}

main .outer-container {
    background: linear-gradient(to bottom, rgb(var(--dark-blue)), rgb(var(--light-orange))); 
}

header .inner-container {
    border: 1px solid rgb(var(--darker-blue));
    border-radius: 0.5rem;
}

header .inner-container-content {
    border: 1px solid rgb(var(--darker-blue));
    border-radius: 0.5rem;
    position: relative;
}

header .inner-container {
    position: absolute;
    padding: 0;
    left: -50px;
    top: -50px;
    width: 100%;
    height: 100%;
    border-width: 50px;
    border-image: linear-gradient(to bottom, rgb(var(--dark-blue)), rgb(var(--light-orange))) 1;
    z-index: -1;
}

header .inner-container::after {
    content: "";
    display:block;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(var(--light-orange), 0.25));
    backdrop-filter: blur(2px);
    filter: saturate(110%) contrast(150%) brightness(70%);
    -webkit-backdrop-filter: blur(2px);
    -webkit-filter: saturate(110%) contrast(150%) brightness(70%);
}

header .row1 {
    align-items: center;
}

header .column2 {
    padding: 2%;
    text-align: right;
    border: 1px solid rgb(var(--darker-blue));
    border-radius: 0.5rem;
    background-color: rgba(var(--light-orange),0.4);
    filter: saturate(110%) contrast(150%);
    -webkit-filter: saturate(110%) contrast(150%);
    line-height: 100%;
}

header .column2 a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgb(var(--dark-blue));
    border-radius: 0.35rem;
    margin: auto;
    margin-top: 5%;
    padding: 2% 8% 2% 8%;
    width: 65%;
    background-color: white;
    color: rgb(var(--dark-blue));
    font-weight: 700;
    letter-spacing: 0.2em;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}

header .bold {
    font-weight:500;
    letter-spacing: 0.1em;
}

header .bolder {
    font-weight:700;
    letter-spacing: 0.1em;
    text-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}