@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022
*/

/*MAIN PAGE*/
.title {
    grid-row: 2;
    grid-column: 2;
    justify-self: right;
    font-family: 'drip October';
    color: var(--independence);
    font-size: 20px;
}

.title bug_txt {
    font-size: 4vw;
}

p.line1 {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    font-size: 20vw;
}

.contact {
    display: grid;
    position: relative;

    grid-column: 4;
    grid-row: 1/span 2;
}

img.cartoon {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.talk_btn {
    position: absolute;
    justify-self: center;

    bottom: 150px;
    right: 70px;
}

.talk_btn p{
    font-family: 'drip October';
    font-size: 25px;
    color: var(--lightpink);
    justify-self: center;
}

.talk_btn span {
    padding: 10px;
    background-color: var(--cornflowerblue);
    border-color: var(--independence);
    border-style: dashed;
    border-radius: 50px;
}

.talk_btn span:hover {
    box-shadow: 5px 5px 10px 2px var(--independence);
    text-decoration: none;
}


/*PROJECTS PAGE*/
.pic_frame {
    display: grid;
    grid-column: 2/span 3;
    grid-row: 2;
    position: relative;

    font-family: 'courierPrime', Courier Prime Sans, sans-serif;
    color: var(--independence);
    font-weight: bolder;
    font-size: 20px;
}

.proj1 {
    grid-column: 2;
    display: flex;
    position: absolute;

    bottom: 75px;
    left: 100px;
}

.vga {
    grid-column: 2;
    position: absolute;

    bottom: 160px;
    left: 150px;
}

.vga:hover {
    opacity: 0.5;
}

.proj2 {
    grid-column: 3;
    display: flex;
    position: absolute;

    bottom: 75px;
    left: 40%;
}

.java {
    grid-column: 3;
    position: absolute;
    
    bottom: 160px;
    left: 43%;
}

.java:hover {
    opacity: 0.5;
}

.proj3 {
    grid-column: 4;
    display: flex;
    position: absolute;

    bottom: 75px;
    right: 100px;
}

.c_code {
    grid-column: 4;
    position: absolute;
    
    bottom: 160px;
    right: 150px;
}

.c_code:hover {
    opacity: 0.5;
}


/*ABOUT PAGE*/
#body {
    font-family: 'courierPrime', Courier Prime Sans, sans-serif;
    color: var(--independence);
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

#body .introduction {
    font-size: 20px;
    font-weight: bold;
}