@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022

---additional css for the projects page---

most recent update: december 5, 2023
*/

/*//--------------mobile layout (tablet)--------------//*/
@media only screen and /*(min-width: 401px) and */ (max-width: 872px) {
    
    /*****text container*****/
    #wrapper {
        padding-bottom: 20%;
    }
}


/*//--------------desktop layout--------------//*/
@media only screen and (min-width: 873px) {

    /*****text container*****/
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-container {
        flex: 0 0 calc(33.333% - 20px); /* Adjust the width as needed, subtracting margin */
        margin-bottom: 20px;
        border: 2px solid #3498db; /* Set the common border style */
        border-radius: 10px; /* Add border-radius for rounded corners */
        padding: 10px; /* Add padding for space inside the border */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
    }

    .project-container .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    
    .project-container .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; /* Adjust the height as needed */
    }
    
    .project-container img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px; /* Add border-radius for rounded image */
    }
    
}