@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022

---day mode/default stylesheet---

most recent update: march 3, 2023
*/

/*****colour variables*****/
:root {
    --fadedbabyblueeyes: 171,210,250,60;/*#abd2fa60*/
    --fadedcornflowerblue: 118,146,255,60;/*#7692ff60*/
    --babyblueeyes: 171,210,250;/*#abd2fa*/
    --cornflowerblue: 118,146,255;/*#7692ff*/
    --deeppurple: 42,31,62;/*#2A1F3E*/
    --independence: 87,77,104;/*#574d68*/
    --candypink: 224,119,125;/*#e0777d*/
    --pastelpink: 223,174,180;/*#dfaeb4*/
    --lightpink: 238,198,203;/*#eec6cb*/
    --peach: 255,228,217;/*#ffe4d9*/
    --lipstick: 144,31,37;/*#901F25*/
    --wine: 64,0,3;/*#400003*/
}



/*****base layout*****/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    word-break: normal;
    color: white;
    background: rgb(var(--lightpink));
    background: linear-gradient(to bottom, rgba(var(--lightpink),0) 10%, rgba(var(--lightpink),1) 90%), url("../images/background_day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 5vw;
    right: 5vw;
    display: flex;
    margin: auto;
    margin-bottom: auto;
    padding-top: 0.5%;
    background-color: rgb(var(--peach));
    z-index: 2;
}

p {
    font-weight: 300;
    line-height: 1rem;
}



/*****top nav menu*****/
.logo {
    float: left;
    margin-left: 0;
}

#topnav {
    position: absolute;
    right: 0;
    overflow: hidden;
    padding: 0;
    margin-right: 0;
}

ul {
    list-style-type: none;
}

#topnav li {
    display: inline;
}

#topnav li a {
    color: rgb(var(--independence));
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

#topnav li a:hover {
    color: rgb(var(--cornflowerblue));
    font-weight: 550;
}



/*****day-night mode*****/
#daynight {
    position: relative;
    display: inline-block;
    padding: 0%;
}

.night_mode {
    position: relative;
}

.day_mode {
    position: absolute;
    visibility: hidden;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



/*****text container*****/
.outer-container {
    flex: 1;
    overflow: hidden;
    width: 85%;
    border: 2px solid rgb(var(--independence));
    border-radius: 0.5rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    margin: 20px;
    min-width: 115px;
}

.outer-container-text {
    color: rgb(var(--independence));
    padding: 0.5vw;
    padding-left: 0.5vw;
}

.inner-container {
    border: 1px solid rgb(var(--independence));
    border-radius: 0.5rem;
}

.inner-container-content {
    border: 1px solid rgb(var(--independence));
    border-radius: 0.5rem;
    position: relative;
    flex-wrap: wrap;
}

.inner-container {
    position: absolute;
    left: -50px;
    top: -50px;
    padding: 0;
    width: 100%;
    height: 100%;
    border-width: 50px;
    border-image: linear-gradient(rgba(var(--pastelpink), 1) 0%, rgba(var(--independence), .8) 100%) 1;
    z-index: -1;
}

.inner-container::after {
    content: "";
    display: block;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(var(--pastelpink), 0), rgba(var(--candypink), 0.25));
    backdrop-filter: blur(5px);
    filter: saturate(110%) contrast(150%) brightness(70%);
    -webkit-backdrop-filter: blur(3px);
    -webkit-filter: saturate(110%) contrast(150%) brightness(90%);
}

p {
    color: rgb( var(--independence));
    font-weight: 400;
    line-height: 1rem;
}

h1 {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(var(--independence));
    line-height: 90%;
    margin-top: 20px;
    padding-bottom: 15px;
    text-shadow: 0px 2px 10px rgba(var(--candypink),0.7);
}

.column {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
}

.column bug_txt {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 2.6rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin: auto;
    width: 100%;
}


/*****projects*****/
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    padding: 5px;
}

.inner-container-content {
    cursor: pointer;
}

.popup {
    width: 70vw;
    max-height: 70vh;
    overflow-y: auto;
    background-color: rgb( var(--deeppurple));
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 10px 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: 1;
}

.popup button {
    position: absolute;
    color: rgb( var(--deeppurple));
    border-color: rgb( var(--lightpink));
    border-radius: 50px;
    top: 10px;
    right: 10px;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

.popup h2 {
    font-size: 1.25rem;
}

.popup p {
    color: rgb( var(--lightpink));
    padding: 5px;
    word-wrap: normal;
}

.popup p.descriptions {
    color: rgb(var(--babyblueeyes));
    margin: 10px;
}

.popup img.project-img, img {
    padding-top: 10px;
}

/*scrollbar style*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: rgb(var(--independence));
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--pastelpink));
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(var(--lightpink));
    border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
    background-color: rgb(var(--lightpink));
}



/*****resume link*****/
.resume a:link {
    color: rgb(var(--wine));
    text-decoration: none;
}

.resume a:visited {
    color: rgb(var(--wine));
    text-decoration: none;
}

.resume a:hover {
    font-weight: 600;
    text-decoration: none;
}

.resume {
    color: rgb(var(--lipstick));
}



/*****cartoon*****/
#contact {
    position: relative;
}

#contact .cartoon_day {
    position: relative;
}

#contact .cartoon_night {
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}



/*****footer*****/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 5vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: rgb(var(--lightpink));
}

.foot_menu li {
    display: inline-block;
    width: 20px;
}



/*****tooltip: https://www.w3schools.com/css/css_tooltip.asp*****/
.tooltip {
    position: relative;
    display: inline-block;
}

/*header*/
.tooltip .tooltip_header_night {
    visibility: hidden;
    width: 110px;
    background-color: rgb(var(--deeppurple));
    color: white;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    
    /*positioning*/
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -40px;
}

.tooltip:hover .tooltip_header_night {
    visibility: visible;
    font-weight: 300;
}

/*footer*/
.tooltip .tooltip_night {
    visibility: hidden;
    width: 110px;
    background-color: rgb(var(--deeppurple));
    color: white;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    
    /*positioning*/
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -40px;
}

.tooltip:hover .tooltip_night {
    visibility: visible;
    font-weight: 300;
}

/*tooltips hidden*/
.tooltip .tooltip_day, .tooltip .tooltip_header_day {
    visibility: hidden;
}



/*//--------------mobile layout (cell)--------------//*/
/*
@media only screen and (max-width: 400) {
    
    body {
        background: linear-gradient(to bottom, rgba(var(--lightpink),0) 10%, rgba(var(--lightpink),1) 90%), url("../images/background_day_mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15vh;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
    }
    
    #contact .cartoon{
        visibility: hidden;
    }
}
*/



/*//--------------mobile layout (tablet)--------------//*/
@media only screen and /*(min-width: 401px) and */ (max-width: 872px) {

    /*****header*****/
    header {
        padding-top: 2%;
    }

    /*****text container*****/
    #wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
    }

    /*****project container*****/
    #project-content {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        margin-left: 25vw;
        margin-right: 25vw;
        align-items: center;
    }

    .popup {
        max-width: auto;
    }

    .popup .rogue-img {
        height: 125px;
        width: 250px;
    }

    .popup .ecosim-img {
        height: 250px;
        width: 250px;
    }

    .popup .music-img {
        height: 200px;
        width: 250px;
    }
    
    /*****cartoon*****/
    #contact .cartoon_day {
        display: block;
        margin: 0 auto;
        padding-top: 1%;
        padding-bottom: 20%;
    }
}



/*//--------------desktop layout--------------//*/
@media only screen and (min-width: 873px) {

    main {
        display: flex;
        justify-content: center;
    }

    /*****text container*****/
    #wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 25vh;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
    }

    /*****project container*****/
    #project-content {
        display: flex;
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 25vh;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
    }

    .popup .pizza-imgs {
        display: flex;
        justify-content: space-around;
    }

    /*****cartoon*****/
    #contact {
        display: flex;
        margin-top: 23vh;
        margin-right: 10vw;
    }
}