@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022
*/

/*COLOUR VARIABLES*/
:root {
    --fadedbabyblueeyes: #abd2fa60;
    --fadedcornflowerblue: #7692ff60;
    --babyblueeyes: #abd2fa;
    --cornflowerblue: #7692ff;
    --independence: #574d68;
    --candypink: #e0777d;
    --pastelpink: #dfaeb4;
    --lightpink: #eec6cb;
}



/*FONTS*/
@font-face {
    font-family: 'dripOctober';
    src: url('/fonts/DripOctober-vm0JA.ttf') format('woff2');

    font-family: 'courierPrime';
    src: url('/fonts/CourierPrimeSans-Ynxj.ttf') format('woff2');
}



/*BASE LAYOUT*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../images/background_night.jpg');
    background-size: cover;
}



/*TOP SPECIFICS*/
#top-container {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr .5fr;
    grid-template-rows: 3fr 1fr;
    height: 33%;
    font-family: 'dripOctober', drip October, sans-serif;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
    padding: 20px;
}


/*TOP NAV MENU*/
ul {
    list-style-type: none;
}

nav {
    display: grid;
    grid-column: 3;
}

.topnav {
    float: right;
    overflow: hidden;
    padding: 20px;
}

.topnav li {
    display: inline;
}

.topnav a {
    color: var(--independence);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: var(--babyblueeyes);
}

.darklight {
    display: grid;
    grid-column: 4;
    grid-row: 1;
    position: relative;
    display: inline-block;
    padding: 25px;
}

.darklight .darklight_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 25px;
}

.darklight:hover .darklight_hover {
    display: inline;
}



/*BOTTOM SPECIFICS*/
#bottom-container {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr 2fr 1.5fr;
    grid-template-rows: 3fr 3fr 1fr;
    height: 66%;
    font-family: 'courierPrime', Courier Prime Sans, sans-serif;
}


/*BOTTOM NAV MENU*/
.footnav {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: inline-block;
    padding: 20px;
}

.github {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.github .github_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.github:hover .github_hover {
    display: inline;
}

.linkedin {
    position: absolute;
    bottom: 20px;
    left: 85px;
}

.linkedin .linkedin_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.linkedin:hover .linkedin_hover {
    display: inline;
}

.email {
    position: absolute;
    bottom: 20px;
    left: 130px;
}

.email .email_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.email:hover .email_hover {
    display: inline;
}

/*
.footnav {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: inline-block;
    padding: 30px;
}

.footnav {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: inline-block;
    padding: 50px;
}

.footnav .footnav_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 50px;
}

.footnav:hover .footnav_hover {
    display: inline;
}
*/