@charset "utf-8";

/*
author: sarah newman
date: december 14, 2022
*/

/*colour variables*/
:root {
    --fadedbabyblueeyes: 171,210,250,60;/*#abd2fa60*/
    --fadedcornflowerblue: 118,146,255,60;/*#7692ff60*/
    --babyblueeyes: 171,210,250;/*#abd2fa*/
    --cornflowerblue: 118,146,255;/*#7692ff*/
    --independence: 87,77,104;/*#574d68*/
    --candypink: 224,119,125;/*#e0777d*/
    --pastelpink: 223,174,180;/*#dfaeb4*/
    --lightpink: 238,198,203;/*#eec6cb*/
}


/*base layout*/
* {
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: auto;
    left: 5vw;
    right: 5vw;
    display: grid;
    grid-template-rows: 1fr, 9fr;
    grid-template-columns: 1fr, 3fr, 2fr;
    word-break: normal;
    background: rgb(var(--lightpink));
    background: linear-gradient(to bottom, rgba(var(--lightpink),0) 10%, rgba(var(--lightpink),1) 100%), url("../images/background_day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 5vw;
    right: 5vw;
    display: flex;
    margin: auto;
    margin-bottom: 2%;
    padding-top: 0.5%;
}

/*top nav menu*/
ul {
    list-style-type: none;
}

#topnav {
    float: right;
    overflow: hidden;
    padding: 0;
    margin-right: 0;
}

#topnav li {
    display: inline;
}

#topnav a {
    color: var(--independence);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

#topnav a:hover {
    color: var(--candypink);
}

.darklight {
    position: relative;
    display: inline-block;
    padding: 0;
}

/*
.darklight .darklight_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0;
}

.darklight:hover .darklight_hover {
    display: inline;
}
*/

#topnav {
    grid-row: 1;
    grid-column: 2/span 2;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    margin-left: 0;
}


#wrapper {
    grid-row: 2;
    grid-column: 1/span 2;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-right: 15vw;
    align-items: center;
    border: dotted;
}

#wrapper .outer-container {

    margin-left: 10vw;
    overflow: hidden;
    width: 100%;
    border: dotted;
}

#wrapper .inner-container {
    border: 1px solid rgb(var(--pastelpink));
    border-radius: 0.5rem;
}

#wrapper .inner-container-content {
    border: 1px solid rgb(var(--pastelpink));
    border-radius: 0.5rem;
    position: relative;
    flex-wrap: wrap;
}

#wrapper .inner-container {
    position: absolute;
    padding: 0;
    left: -50px;
    top: -50px;
    width: 100%;
    height: 100%;
    border-width: 50px;
    border-image: linear-gradient( rgba(var(--pastelpink), 1) 0%, rgba(var(--independence), .8) 100%) 1;
    z-index: -1;
}

#wrapper .inner-container::after {
    content: "";
    display: block;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(var(--pastelpink), 0), rgba(var(--candypink), 0.25));
    backdrop-filter: blur(2px);
    filter: saturate(110%) contrast(150%) brightness(70%);
    -webkit-backdrop-filter: blur(2px);
    -webkit-filter: saturate(110%) contrast(150%) brightness(90%);
}

#wrapper .row1 {
    align-items: center;
}



p {
    font-weight: 350;
    line-height: 1rem;
}

.inner-container-content p {
    line-height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 1.2vw;
    color: var(--babyblueeyes);
    text-transform: uppercase;
    line-height: 90%;
    padding: 5px;
    text-shadow: 0px 2px 10px rgba(var(--candypink),0.7);
    border: dotted;
}

.column bug_txt {
    font-weight: 400;
    font-size: 2.6vw;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    font-weight: 10;
    text-transform: lowercase;
    margin: auto;
    width: 100%;
}

.outer-container {
    border: 2px solid rgb(var(--independence));
    border-radius: 0.5rem;
    padding: 0rem 0.3rem 0.3rem 0.3rem;
}

.row {
    display: flex;
    justify-content: space-between;
}


/*img/let's talk details*/
main {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*footer*/
footer {
    position: fixed;
    bottom: 0px;

    align-items: flex-start;
    background-color: rgb(var(--lightpink));
    border-top: 2px solid rgb(var(--independence));
}

.foot_menu {
    position: fixed;
    display: inline-block;
    padding: 20px;
}

/*
.github {
    position: fixed;
    bottom: 1vw;
    margin-left: 5vw;
}

.github .github_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.github:hover .github_hover {
    display: inline;
}
*/

/*
.linkedin {
    position: fixed;
    bottom: 1vw;
    left: 7vw;
    padding-left: 1%;
}

.linkedin .linkedin_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.linkedin:hover .linkedin_hover {
    display: inline;
}
*/

/*
.email {
    position: fixed;
    bottom: .9vw;
    left: 10vw;
}

.email .email_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.email:hover .email_hover {
    display: inline;
}
*/





/*
background: rgb(87,77,104);
background: linear-gradient(90deg, rgba(87,77,104,1) 0%, rgba(238,198,203,1) 50%, rgba(171,210,250,1) 100%);
*/