@charset "UTF-8";

/*
Author: Sarah Newman
Date: February 24, 2022
This is the stylesheet for my portfolio
*/

.first{
    display: grid;
    grid-template: auto/auto auto auto;
}

h1 {
    grid-column: 1/span 2;
    outline: dotted;
}

.second {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 5px;
    outline: dotted;
}

img {
    grid-column: 3/span 1;
    grid-row: 1/span 2;
}

.experience {
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    outline: dotted;
}

#languages {
    text-align: center;
    outline: dotted;
}

.languages {
    grid-row: 3/span 3;
    grid-column: 3/span 1;
    overflow: auto;
    background-color: honeydew;
    color: darkslategray;
    border-radius: 25px;
    outline: dotted;
}

#skills {
    list-style-type: circle;
}

.computer {
    grid-row: 3/span 2;
    grid-column: 1/span 1;
    outline: dotted;
}

.description {
    list-style-type: none;
}

#description {
    list-style-type: circle;
}

.additional {
    grid-row: 3/span 2;
    grid-column: 2/span 1;
    outline: dotted;
}