@charset "UTF-8";

/*
Author: Sarah Newman
Date: February 3, 2022
*/

body {
    background-color: darkseagreen;
    color: honeydew;
    font-family:DengXian;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav {
    background-color:darkslategray;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color:rgb(126, 188, 190);
    color: darkslategrey;
}

.topnav a.active {
    background-color: honeydew;
    color: darkslategrey;
}

img {
    float: right;
    border: 5px solid rgb(47,97,97) ;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

p {
    position: absolute;
    text-align: left;
    width: 600px;
    margin-right: 20px;
}